@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
html,
body {
  height: 100%;
  font-family: 'Droid Sans', Helvetica, Arial, Verdana, sans-serif;
  min-width: 986px;
  background-color: #EEE;
}
body,
html {
  height: 100%;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 1;
  padding: 0 10px;
}
.header_top > * {
  float: left;
  padding: 15px 0;
}
.logo {
  font-family: Arial;
  font-weight: bold;
  font-size: 18px;
  width: 200px;
}
.logo-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
.search > input {
  margin: 0 0 -7px;
  width: 150px;
}
.search > .btn {
  margin: -1px 0 0 -5px;
  height: 25px;
  width: 43px;
  padding: 3px 12px;
  text-align: center;
  transition: all 1s ease;
}
.search > .btn:active {
  outline: 0;
  font-size: 1px;
  transition: none;
}
.search > .btn:focus {
  outline: 0;
}
.action-bar {
  float: right;
}
.action-bar > .btn {
  margin: 10px 0;
}
.action-bar > .btn:last-child {
  margin-right: 0;
}
.categories-menu {
  width: 100%;
}
.categories-menu ul {
  margin: 0;
  padding: 0;
}
.categories-menu .has-children > .glyphicon {
  position: absolute;
  height: 13px;
  width: 15px;
  top: 16px;
  right: 0px;
  transform: rotate(0deg);
  transition: all 1s ease;
}
.categories-menu .submenu {
  display: none;
  position: absolute;
  left: 0;
  top: 46px;
  border-left: 1px solid #EEE;
  border-right: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}
.categories-menu .category {
  position: relative;
  display: block;
}
.categories-menu > ul > .category {
  float: left;
}
.categories-menu a {
  display: block;
  color: #555555;
  font-size: 18px;
  background-color: #fff;
  padding: 10px 22px;
}
.categories-menu a:hover {
  background-color: #428BCA;
  color: #fff;
  text-decoration: none;
}
.categories-menu .has-children:hover > .glyphicon {
  transform: rotate(90deg);
}
.categories-menu .has-children:hover .submenu {
  display: block;
}
/* content */
.content-wrapper {
  padding: 155px 10px 56px;
  min-height: 100%;
}
/* product */
.products-wrapper {
  margin: 0 -5px;
}
.product-wrapper {
  background-color: #fff;
  width: 220px;
  margin: 5px;
  position: relative;
  display: inline-block;
}
.product {
  display: block;
  min-height: 290px;
}
.product:hover {
  text-decoration: none;
}
.product:hover > .product-image-hover {
  opacity: 1;
  text-decoration: none;
}
.product-image {
  height: 220px;
  width: 220px;
}
.product-image-hover {
  position: absolute;
  height: 220px;
  width: 220px;
  left: 0;
  top: 0;
  opacity: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.03) 0%, #000000 100%);
  transition: opacity 2s;
}
.product-author {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 18px;
  color: white;
}
.product-name {
  font-size: 18px;
  color: #555;
  font-weight: bold;
  margin: 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.product-stars-wrapper {
  margin: 0 10px;
}
.product-stars-wrapper > .product-stars {
  background-image: url("../img/stars.png");
  background-repeat: no-repeat;
  height: 20px;
}
.product-stars-0 {
  width: 1px;
}
.product-stars-1 {
  width: 10%;
}
.product-stars-2 {
  width: 20%;
}
.product-stars-3 {
  width: 30%;
}
.product-stars-4 {
  width: 40%;
}
.product-stars-5 {
  width: 50%;
}
.product-stars-6 {
  width: 60%;
}
.product-stars-7 {
  width: 70%;
}
.product-stars-8 {
  width: 80%;
}
.product-stars-9 {
  width: 90%;
}
.product-stars-10 {
  width: 100%;
}
.product-price {
  font-size: 18px;
  color: #555;
  font-style: italic;
  margin: 0 10px;
}
footer {
  font-size: 18px;
  min-height: 46px;
  margin-top: -46px;
}
footer > a {
  display: block;
  font-family: Arial;
  padding: 10px 28px;
  background-color: #428BCA;
  color: white;
}
footer > a:hover {
  background-color: #F0AD4E;
  text-decoration: none;
  color: white;
}
footer > a > .author {
  color: #428BCA;
  font-weight: bold;
  color: white;
}
@media (min-width: 768px) {
  .action-bar > .btn {
    margin: 0;
  }
}
@media (min-width: 992px) {
  .search > input {
    width: 330px;
  }
  .categories-menu a {
    padding: 10px 22px;
  }
}
@media (min-width: 1200px) {
  .content-wrapper {
    padding: 110px 10px 56px;
  }
}
