<!DOCTYPE html>
<html lang="en-US"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<!--<style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Store</title>
    <link rel="icon" href="favicon.ico">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/all.css" rel="stylesheet">
<!--<link href="LiStore_files/site.css" rel="stylesheet">
<link href="LiStore_files/toolbar.css" rel="stylesheet">
<script src="LiStore_files/jquery-2.js"></script>
<script src="LiStore_files/angular.js"></script>
<script src="LiStore_files/main.js"></script></head>-->
<body>

{% set logged = false %}
<header>
	<div class="header_top clearfix">
		<div class="logo"><span class="logo-text">LOGO</span></div>
		<div class="search">
			<input name="search" type="text">
			<div class="btn btn-success">
				<span class="glyphicon glyphicon-search"></span>
			</div>
		</div>
		<div class="action-bar">
		 {% if logged %}

			<a class="btn btn-primary" href="#">My products</a>
			<a class="btn btn-warning" href="#">Reports</a>
			<a class="btn btn-info" href="#">Settings</a>
			<a class="btn btn-default" href="#">Logout</a>
	
		 {% else %}
		 	<a class="btn btn-info" href="http://store.loc/index.php?r=site%2Fregistration">Registration</a>
			<a class="btn btn-default" href="http://store.loc/index.php?r=site%2Flogin">Login</a>
		 {% endif %}
		</div>
	</div>

	<div class="categories-menu">
		<ul>
		<li class="category"><a href="http://store.loc/index.php?r=category%2Findex&amp;id=1">Accessories</a></li>
		<li class="category has-children"><a href="http://store.loc/index.php?r=category%2Findex&amp;id=2">Games</a><div class="glyphicon glyphicon-chevron-right"></div>
			<ul class="submenu">
				<li class="category"><a href="http://store.loc/index.php?r=category%2Findex&amp;id=11">Arcade</a></li>
				<li class="category"><a href="http://store.loc/index.php?r=category%2Findex&amp;id=12">Board</a></li>
				<li class="category"><a href="http://store.loc/index.php?r=category%2Findex&amp;id=13">Card</a></li>
				<li class="category"><a href="http://store.loc/index.php?r=category%2Findex&amp;id=14">Dice</a></li>
				<li class="category"><a href="http://store.loc/index.php?r=category%2Findex&amp;id=15">Logic</a></li>
				<li class="category"><a href="http://store.loc/index.php?r=category%2Findex&amp;id=16">Strategy</a></li>
				<li class="category"><a href="http://store.loc/index.php?r=category%2Findex&amp;id=17">Toy</a></li>
				<li class="category"><a href="http://store.loc/index.php?r=category%2Findex&amp;id=18">Other</a></li>
			</ul>
		</li>
		<li class="category"><a href="http://store.loc/index.php?r=category%2Findex&amp;id=3">Graphics</a></li>
		<li class="category"><a href="http://store.loc/index.php?r=category%2Findex&amp;id=4">Internet</a></li>
		<li class="category"><a href="http://store.loc/index.php?r=category%2Findex&amp;id=5">Office</a></li>
		<li class="category"><a href="http://store.loc/index.php?r=category%2Findex&amp;id=6">Programming</a></li>
		<li class="category"><a href="http://store.loc/index.php?r=category%2Findex&amp;id=7">Sound &amp; Video</a></li>
		<li class="category"><a href="http://store.loc/index.php?r=category%2Findex&amp;id=8">System Tools</a></li>
		<li class="category"><a href="http://store.loc/index.php?r=category%2Findex&amp;id=9">OS</a></li>
		<li class="category"><a href="http://store.loc/index.php?r=category%2Findex&amp;id=10">Other</a>	</li>
		</ul>
	</div>
</header>

<div class="content-wrapper">
{% block content %}{% endblock %}
</div>
<footer>
	<a href="https://www.linkedin.com/pub/ostap-shvab/41/553/3a5">Created by <span class="author">Shvab Ostap</span></a>
</footer>

<!--
<script src="LiStore_files/home.js"></script>
<script src="LiStore_files/toolbar.js"></script>
-->
</body></html>