{% extends "base.twig" %}

{% block content %}
<section class="clearfix">
	<h2 class="products-category">Accessories</h2>
	<div class="products-wrapper">
		<div class="product-wrapper">
		<a href="http://store.loc/product/1" class="product">
			<img class="product-image" src="img/none.png">
			<div class="product-image-hover">
				<div class="product-author">Shvab Ostap long long long long long long long</div>
			</div>
			<div class="product-name">Screener long long long long long long long</div>
			<div class="product-stars-wrapper"><div class="product-stars product-stars-1"></div></div>
			<div class="product-price">Price: Free</div>
		</a>
		</div>
		<div class="product-wrapper">
		<a href="http://store.loc/product/1" class="product">
			<img class="product-image" src="img/none.png">
			<div class="product-image-hover">
				<div class="product-author">Shvab Ostap</div>
			</div>
			<div class="product-name">Screener</div>
			<div class="product-stars-wrapper"><div class="product-stars product-stars-1"></div></div>
			<div class="product-price">Price: Free</div>
		</a>
		</div>
		<div class="product-wrapper">
		<a href="http://store.loc/product/1" class="product">
			<img class="product-image" src="img/none.png">
			<div class="product-image-hover">
				<div class="product-author">Shvab Ostap</div>
			</div>
			<div class="product-name">Screener</div>
			<div class="product-stars-wrapper"><div class="product-stars product-stars-1"></div></div>
			<div class="product-price">Price: Free</div>
		</a>
		</div>
		<div class="product-wrapper">
		<a href="http://store.loc/product/1" class="product">
			<img class="product-image" src="img/none.png">
			<div class="product-image-hover">
				<div class="product-author">Shvab Ostap</div>
			</div>
			<div class="product-name">Screener</div>
			<div class="product-stars-wrapper"><div class="product-stars product-stars-1"></div></div>
			<div class="product-price">Price: Free</div>
		</a>
		</div>
		<div class="product-wrapper">
		<a href="http://store.loc/product/1" class="product">
			<img class="product-image" src="img/none.png">
			<div class="product-image-hover">
				<div class="product-author">Shvab Ostap</div>
			</div>
			<div class="product-name">Screener</div>
			<div class="product-stars-wrapper"><div class="product-stars product-stars-1"></div></div>
			<div class="product-price">Price: Free</div>
		</a>
		</div>
		<div class="product-wrapper">
		<a href="http://store.loc/product/1" class="product">
			<img class="product-image" src="img/none.png">
			<div class="product-image-hover">
				<div class="product-author">Shvab Ostap</div>
			</div>
			<div class="product-name">Screener</div>
			<div class="product-stars-wrapper"><div class="product-stars product-stars-1"></div></div>
			<div class="product-price">Price: Free</div>
		</a>
		</div>
		<div class="product-wrapper">
		<a href="http://store.loc/product/1" class="product">
			<img class="product-image" src="img/none.png">
			<div class="product-image-hover">
				<div class="product-author">Shvab Ostap</div>
			</div>
			<div class="product-name">Screener</div>
			<div class="product-stars-wrapper"><div class="product-stars product-stars-1"></div></div>
			<div class="product-price">Price: Free</div>
		</a>
		</div>
		<div class="product-wrapper">
		<a href="http://store.loc/product/1" class="product">
			<img class="product-image" src="img/none.png">
			<div class="product-image-hover">
				<div class="product-author">Shvab Ostap</div>
			</div>
			<div class="product-name">Screener</div>
			<div class="product-stars-wrapper"><div class="product-stars product-stars-1"></div></div>
			<div class="product-price">Price: Free</div>
		</a>
		</div>
		<div class="product-wrapper">
		<a href="http://store.loc/product/1" class="product">
			<img class="product-image" src="img/none.png">
			<div class="product-image-hover">
				<div class="product-author">Shvab Ostap</div>
			</div>
			<div class="product-name">Screener</div>
			<div class="product-stars-wrapper"><div class="product-stars product-stars-1"></div></div>
			<div class="product-price">Price: Free</div>
		</a>
		</div>
	</div>
</section>
<section class="clearfix">
	<h2 class="products-category">Accessories</h2>
	<div class="product-wrapper">
	<a href="http://store.loc/product/1" class="product">
		<img class="product-image" src="img/none.png">
		<div class="product-image-hover">
			<div class="product-author">Shvab Ostap</div>
		</div>
		<div class="product-name">Screener</div>
		<div class="product-stars-wrapper"><div class="product-stars product-stars-1"></div></div>
		<div class="product-price">Price: Free</div>
	</a>
	</div>
	<div class="product-wrapper">
	<a href="http://store.loc/product/1" class="product">
		<img class="product-image" src="img/none.png">
		<div class="product-image-hover">
			<div class="product-author">Shvab Ostap</div>
		</div>
		<div class="product-name">Screener</div>
		<div class="product-stars-wrapper"><div class="product-stars product-stars-1"></div></div>
		<div class="product-price">Price: Free</div>
	</a>
	</div>
	<div class="product-wrapper">
	<a href="http://store.loc/product/1" class="product">
		<img class="product-image" src="img/none.png">
		<div class="product-image-hover">
			<div class="product-author">Shvab Ostap</div>
		</div>
		<div class="product-name">Screener</div>
		<div class="product-stars-wrapper"><div class="product-stars product-stars-1"></div></div>
		<div class="product-price">Price: Free</div>
	</a>
	</div>
	<div class="product-wrapper">
	<a href="http://store.loc/product/1" class="product">
		<img class="product-image" src="img/none.png">
		<div class="product-image-hover">
			<div class="product-author">Shvab Ostap</div>
		</div>
		<div class="product-name">Screener</div>
		<div class="product-stars-wrapper"><div class="product-stars product-stars-1"></div></div>
		<div class="product-price">Price: Free</div>
	</a>
	</div>
	<div class="product-wrapper">
	<a href="http://store.loc/product/1" class="product">
		<img class="product-image" src="img/none.png">
		<div class="product-image-hover">
			<div class="product-author">Shvab Ostap</div>
		</div>
		<div class="product-name">Screener</div>
		<div class="product-stars-wrapper"><div class="product-stars product-stars-1"></div></div>
		<div class="product-price">Price: Free</div>
	</a>
	</div>
	<div class="product-wrapper">
	<a href="http://store.loc/product/1" class="product">
		<img class="product-image" src="img/none.png">
		<div class="product-image-hover">
			<div class="product-author">Shvab Ostap</div>
		</div>
		<div class="product-name">Screener</div>
		<div class="product-stars-wrapper"><div class="product-stars product-stars-1"></div></div>
		<div class="product-price">Price: Free</div>
	</a>
	</div>
	<div class="product-wrapper">
	<a href="http://store.loc/product/1" class="product">
		<img class="product-image" src="img/none.png">
		<div class="product-image-hover">
			<div class="product-author">Shvab Ostap</div>
		</div>
		<div class="product-name">Screener</div>
		<div class="product-stars-wrapper"><div class="product-stars product-stars-1"></div></div>
		<div class="product-price">Price: Free</div>
	</a>
	</div>
	<div class="product-wrapper">
	<a href="http://store.loc/product/1" class="product">
		<img class="product-image" src="img/none.png">
		<div class="product-image-hover">
			<div class="product-author">Shvab Ostap</div>
		</div>
		<div class="product-name">Screener</div>
		<div class="product-stars-wrapper"><div class="product-stars product-stars-1"></div></div>
		<div class="product-price">Price: Free</div>
	</a>
	</div>
	<div class="product-wrapper">
	<a href="http://store.loc/product/1" class="product">
		<img class="product-image" src="img/none.png">
		<div class="product-image-hover">
			<div class="product-author">Shvab Ostap</div>
		</div>
		<div class="product-name">Screener</div>
		<div class="product-stars-wrapper"><div class="product-stars product-stars-1"></div></div>
		<div class="product-price">Price: Free</div>
	</a>
	</div>
</section>
{% endblock %}
