{% extends "base.twig" %}

{% block content %}
  <div class="form-main">
    
	<h1>Password reset confirmation sent!</h1>

	<p>We’ve sent you an email containing a link that will allow you to reset your password for the next 24 hours.</p>

	<p>Please check your spam folder if the email doesn’t appear within a few minutes.</p>


	
	<a href="/login" class="btn btn-default">
      Return to sign in
      <div class="glyphicon glyphicon-arrow-right"></div>
	</a>

  </div>
{% endblock %}
